:host {
  .poke-list {
    @apply grid gap-5 grid-cols-3 py-5 overflow-y-scroll overflow-x-hidden pr-5 auto-rows-min;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      @apply bg-slate-500;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-slate-300 rounded-md;
      border: 2px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
    }
  }
}
